body{
	font-family: Verdana, Arial, sans-serif;
}
#inputSection{
	width: 20.9em;
	margin: 6em auto 0;
  	text-align: center;
}

#logo{
	margin-bottom: 2em;
}

#photoSection{
    margin-top: 2em;
    left: 50%;
    text-align: center;
}

.photos img
{
	border:2px solid black;
	margin:10px;
}

.ng-active, #serverErrorSection{
	color: red;
	border: 1px solid red;
	margin-top:5px;
}

#serverErrorSection{
	width: 40em; 
	margin: 0 auto;
	padding: 2em;
	text-align: center;
}